<% provide(:title, t(:label_atualizar)) %>
<% provide(:button_text, t(:label_atualizar)) %>

<h4><strong><%= "#{t :label_atualizar}  #{t :label_competicao}" %></strong></h4>

<div class="row justify-content-md-center">
  <div class="col-md-6 ml-md-auto mr-md-auto">
    <%= render 'form', competicao: @competicao %>
  </div>
</div>

<%= link_to competicaos_path, class: botao_link do %>
  <span class="fa fa-caret-left"></span> <%= t :label_cancelar %>
<% end %>